{% extends "base.html" %}

{% block content %}
<table class="table is-fullwidth" id="log">
    <thead>
        <th style="width: 30%">Timestamp</th>
        <th style="width: 10%">Type</th>
        <th style="width: 60%">Data</th>
    </thead>
    <tbody>
        {% for message in messages %}
            <tr class="message-{{ message.type }}">
                <td>{{ message.created }}</td>
                <td>{{ message.type }}</td>
                <td class="hex">
                    {{ message.data }}
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}