{% extends "base.html" %}

{% block content %}
<table class="table table-condensed" id="log">
    <thead>
        <th class="col-md-4">Timestamp</th>
        <th class="col-md-2">Type</th>
        <th class="col-md-6">Data</th>
    </thead>
    <tbody>
        {% for message in messages %}
            <tr class="message-{{ message.type }}">
                <td>{{ message.created }}</td>
                <td>{{ message.type }}</td>
                <td class="hex">
                    {{ message.data }}
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}